@model WebLeagueManager.Views.Home.TeamsModel
@{
    ViewData["Title"] = "Equipos";
}
<br />
<h3>Listado de equipos</h3>
    <section class="teams_group">
        @foreach (Team item in Model.lstTeams)
        {
            <div class="team_card" id=@item.Id>
                @item.Name <br />
                - <br/>
                @item.Origin
            </div>
        }
    </section>



<style>
    .teams_group{
        display: grid;
        grid-gap: 2em;
        padding: 3em;
        grid-template-columns: repeat(auto-fit, 150px);
        place-items: center;
        place-content: center;
    }
    .team_card {
        padding: 2em;
        border-radius: .3em;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
        text-align: center;
        width: 150px;
        height: 150px;
    }

    .team_card:hover{
        background: linear-gradient(180deg, rgba(151,1,225,1) 0%, rgba(149,5,152,1) 100%);
        color: white;
        cursor:pointer;
        scale: 1.1;
        transition: .2s ease-in-out all;
    }
    a{
        text-decoration: none;
        color: rgba(0,0,0);
        display: inline;
    }
</style>

<script defer>

    const cards = document.querySelectorAll('.team_card');
    
    for (var i = 0; i < cards.length; i++) {
            (function (index) {
                cards[index].addEventListener('click', function () {
                openTeamById(cards[index].id);
                });
            })(i);
    }

    function openTeamById(id){
        var url = "/Home/Team?id=" + id
        window.open(url, "_self")
    }
</script>
